        body{
            background-color: navy;
            color: whitesmoke;
            margin: 0;
            padding: 0;
        }

        header{
            background-color: whitesmoke;
            text-align: center;
            padding: 20px;
        }

        h1{
            color: rgb(68, 4, 179);
        }

        /* menu styles */
        nav a{
            color: navy;
            text-decoration: none;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            font-size: x-large;

        }

        nav a:hover{
            color: rgb(68, 4, 179);
        }

        main{
            padding: 20px;
        }


        .img-decorative{
            /* the image will fil in 90% of the container it is in; based on how the page is set up, it will fill in the screen size */
            width: 90%;
            /* so the image does not exceed the arbitrary limit of 800px that I wish to impose on this example */
            max-width: 800px;
            /* gives the rounded corners look */
            border-radius: 10px;
        }