        body{
            background-color: rgb(193, 140, 111);
            color: whitesmoke;
            margin: 0;
            padding: 0;
        }

        header{
            background-color: rgb(228, 165, 130);
            text-align: center;
            padding: 20px;
        }

        h1{
            color: rgb(255, 255, 255);
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 
            /* Main Outline Sections */
                         0.05em 0 black, 
                         0 0.05em black, 
                        -0.05em 0 black, 
                         0 -0.05em black,
            /* Rounded Outline Sections */ 
                -0.035em -0.035em black, 
                 -0.035em 0.035em black, 
                 0.035em -0.035em black, 
                  0.035em 0.035em black;
            margin: 12;
            padding: 12;
        }

        h2{
            color: rgb(255, 255, 255);
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 
            /* Main Outline Sections */
                         0.025em 0 coral, 
                         0 0.025em coral, 
                        -0.025em 0 coral, 
                        0 -0.025em coral,
            /* Rounded Outline Sections */ 
                 -0.035em -0.033em coral, 
                  -0.033em 0.035em coral, 
                  0.033em -0.033em coral, 
                   0.033em 0.033em coral;
            margin: 12;
            padding: 12;
        }

        h3{
            color: rgb(255, 255, 255);
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 
            /* Main Outline Sections */
                         0.025em 0 coral, 
                         0 0.025em coral, 
                        -0.025em 0 coral, 
                        0 -0.025em coral,
            /* Rounded Outline Sections */ 
                 -0.035em -0.033em coral, 
                  -0.033em 0.035em coral, 
                  0.033em -0.033em coral, 
                   0.033em 0.033em coral;
            margin: 12;
            padding: 12;
        }

        p{
            color: rgb(255, 255, 255);
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 
            /* Main Outline Sections */
                         0.025em 0 darkgrey, 
                         0 0.025em darkgray, 
                        -0.025em 0 darkgrey, 
                        0 -0.025em darkgray,
            /* Rounded Outline Sections */ 
                 -0.035em -0.033em darkgrey,
                  -0.033em 0.035em darkgrey,
                  0.033em -0.033em darkgrey,
                   0.033em 0.033em darkgrey,
            margin: 12;
            padding: 12;
            font-size: large
        }

        /* Start menu styles */
        nav a{
        /*  color: lightgray;

            padding: 10px;
            text-align: center;
            font-weight: bold;
            font-size: x-large;
        */
        
            color: lightgray;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: none;
            text-shadow:
            /* Main Outline Sections */
                         0.05em 0 grey, 
                         0 0.05em grey, 
                        -0.05em 0 gray, 
                        0 -0.05em gray,
            /* Rounded Outline Sections */ 
                -0.035em -0.035em gray, 
                 -0.035em 0.035em gray, 
                 0.035em -0.035em gray, 
                  0.035em 0.035em gray;
            margin: 0;
            padding: 12px;
            text-align: center;
            font-weight: bold;
            font-size: large;
        }

        nav a:hover{
            color: white;
        }
        /* End menu styles */

        main{
            padding: 20px;
        }


        .img-decorative{
            /* the image will fil in 90% of the container it is in; based on how the page is set up, it will fill in the screen size */
            width: 100%;
            /* so the image does not exceed the arbitrary limit of 2560px that I wish to impose on this example */
            max-width: 2560px;
            /* gives the rounded corners look */
            border-radius: 10px;
        }

        /* Start Flex box styles - can use on any elements, since they are custom class*/
        /* the parent container styles */
        .flex-container{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        /* the styles for each flex column */
        .flex-column{
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(178, 125, 96);
        }

        .flex-column img{
            max-width: 400px;
            width: 80%;
            border-radius: 5px;
        }
        /* End Flex box styles